.idTag {
  padding: 3px;
  min-width: 50px;
  text-align: center;
  background-color: #c2ebfc;
  border-radius: 20px;
}

.idolStatusSelect {
  width: 110px;
}

.approvedStatus {
  background-color: #17bf63;
  padding: 3px 10px;
  border-radius: 15px;
  color: white;
}

.waitingStatus {
  background-color: #f2a71b;
  padding: 3px 10px;
  border-radius: 15px;
  color: white;
}

.rejectedStatus {
  background-color: red;
  padding: 3px 10px;
  border-radius: 15px;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
.phoneInput::-webkit-outer-spin-button,
.phoneInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.phoneInput {
  -moz-appearance: textfield;
}
