.tagStatus {
    padding: 3px 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
}

.green {
    background-color: #17bf63;
    color: #fff;
}
.orange {
    background-color: #f2a71b;
    color: #fff;
}
.red {
    background-color: #f00;
    color: #fff;
}

.gray {
    background-color: #d6d2d2;
    color: #000;
}

.approved {
    background-color: #4ebef2;
    color: #fff;
}

.rejected {
    background-color: gray;
    color: #fff;
}

.tagDiv {
    /*min-width: 50%;*/
    padding: 3px 8px;
    margin: 0px auto;
}

.colorRed {
    color: red;
}

.colorGreen {
    color: #17bf63;
}

.rowSearch {
    margin-bottom: 15px;
}
.link {
     color: #3EA4F7;
     text-decoration: underline;
     cursor: pointer;
 }
.detailContainer {
    width: 80%;
    margin: 0 auto;
}

.avatar {
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
}